body{
font-family: Arial;
/* background-color:maroon;  */

 background-image: url('../img/.jpg');   
/* background-size: cover;
background-attachment: fixed;
text-align: justify; */
	 }
.fondo{
	background-color:rgba(0,0,0,0.1);
}


.fondo2{
       /* background-color: chartreuse; */
	   background-color:rgba(0, 0, 0, 0.8); 
	   font-weight:bold;
}
.Logo{
	padding: 2px;
	width: 100px;
	height: auto;
	display: block;
	border-radius: 10px;
	box-shadow: 2px 3px 0px #cccc;
}
.imagen{
	padding: 2px;
	width: 100px;
	
	border-radius: 10px;
	box-shadow: 2px 3px 0px #cccc;
}

.Mapa{
	width: 500px;
	height: auto;
	display: block;
	border-radius: 10px;
	box-shadow: 5px 5px 0px #cccc;
}

.Local{
	padding: 2px;
	width:95%;
	height: auto;
	display: block;
	border-radius: 12px;
	box-shadow: 1px 1px 0px #cccc;
}

.Bienvenida{
  width: 70%;
  height: 30%;
}

.Btext {
  color: #FFF;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font: italic bold 50px Georgia, Serif;
  text-shadow: -4px 3px 0 #cccc, -10px 5px 0 #0a0e27;
}

.fondo7{
	padding: 2px;
	width: 90px;;
	height: 100;
	
}
