
/* body{
	font-family: Arial;
	background-image: url(../img/imgFondo.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: justify;
		 } */

.fondo{
	background-color:rgba(0,0,0,0.1);
}

.text-justify {
  text-align: justify;
}




.fondo2{
      
	   font-weight:bold;
 }
.Logo{
	padding: 2px;
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 10px;
	box-shadow: 2px 3px 0px #cccc;
}

.Mapa{
	width: 500mx;
	height: auto;
	display: block;
	border-radius: 10px;
	box-shadow: 5px 5px 0px #cccc;
}

.Local{
	padding: 2px;
	width:95%;
	height: auto;
	display: block;
	border-radius: 12px;
	box-shadow: 1px 1px 0px #cccc;
}

.Bienvenida{
  width: 30%;
  height: 30%;
}

.Btext { 
  color: #FFF; 
  margin: 0 auto; 
  text-align: center; 
  font-weight: 300; 
   font: italic bold 50px Georgia, Serif; 
   text-shadow: -4px 3px 0 #cccc, -10px 5px 0 #0a0e27; 
}

.tamanio {
	height: 10%;
	width: 10%;
	}

.fondoc {
   background-color: #ff00ff; /* Cambia este valor al color fluorescente que prefieras */
   padding: 10px; /* Espacio alrededor del texto para que se vea mejor */
  }